src/main/mule/brasilapi/get-cep-v2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-cep-v2" doc:id="080a66f4-e7ad-4cf4-975f-9ef4cd405cb0" >
		<logger level="INFO" doc:name="Logger" doc:id="5ee11be1-a506-408e-b7ad-cf2fe0b776dd" />
		<http:request method="GET" doc:name="GET /cep/v2/{cep}" doc:id="69df489e-7730-4c53-b22e-1793966cd67c" config-ref="HTTP_Request_configuration_brasilapi" path="${brasilapi.path.cep}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"cep" : vars.cep
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="payload" doc:id="81b4e54b-cd8b-4c45-9f20-cea93abdf312" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
